fastapi
uvicorn[standard]
python-multipart
aiofiles
langchain
langchain-community
langchain-groq
langchain-core
langgraph
sentence-transformers
faiss-cpu
rank-bm25
pymupdf
pandas
openpyxl
python-dotenv
pydantic
pydantic-settings
numpy
scikit-learn
matplotlib
seaborn
kaleido
plotly
restrictedpython
